# Bỏ qua thư mục sinh ra lúc build code
build/
out/
.gradle/

# Bỏ qua cấu hình riêng của IntelliJ IDEA
.idea/
*.iml
*.iws

# Bỏ qua các file biên dịch
*.class
*.war
*.ear
*.jar

# Bỏ qua file log
*.log